.assignment-form-validation-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: var(--font-family-base);
}

.assignment-form-validation-title--error {
  color: var(--color-error);
}

.assignment-form-validation-title--success {
  color: var(--color-success);
}

.assignment-form-validation-icon--error {
  color: var(--color-error);
  font-size: var(--fs-xl) !important;
}

.assignment-form-validation-icon--success {
  color: var(--color-success);
  font-size: var(--fs-xl) !important;
}

.assignment-form-validation-actions {
  padding-bottom: 16px;
  padding-right: 16px;
}

.assignment-form-validation-close--error {
  color: var(--color-error);
  text-transform: none;
  font-size: var(--fs-sm);
}

.assignment-form-validation-close--success {
  color: var(--color-success);
  text-transform: none;
  font-size: var(--fs-sm);
}

.assignment-form-cancel-button {
  color: var(--text-secondary);
  text-transform: none;
}
