
body {
    font-family: var(--font-family-base);
    font-size: var(--fs-sm);
  }

/* Cambiar el tamaño y el peso de fuente para los encabezados según tus preferencias */
h1, h2, h3, h4, h5, h6 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
  }
  
  /* Colores de enlaces y enlaces visitados similares a GitHub */
  a {
    color: var(--color-primary-600); /* Enlace normal */
    text-decoration: none; /* Quitar subrayado de enlace */
  }
  
  a:hover {
    color: var(--color-primary-variant); /* Color al pasar el mouse */
  }
  
